<div class="card-footer">
    <div class="card-footer-content">
        <div class="card-footer-img">
            <img [ngStyle]="{'width': '95%'}" src="../../../assets/images/Electroforel_hight_quality_detalized_realistic_cinematic_photor_0c8d2b85-d8ff-47c8-ac6e-de468755e517.png"/>
        </div>
        <div class="card-footer-list">
            <h4 [ngStyle]="{'margin': 0}" >valor1</h4>
            <h4 [ngStyle]="{'margin': 0}" >valor2</h4>
            <h4 [ngStyle]="{'margin': 0}">valor3</h4>
            <h4 [ngStyle]="{'margin': 0}">valor4</h4>
        </div>
    </div>
</div>