<div class="card-blog-search">
    <label [ngStyle]="{'marginBottom': '5px', 'font-family': 'cursive'}">Search for a topic here</label>
    <input  placeholder="search" (change)="handleChange($event)" type="text" id="default-input" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-1/4 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
    <ng-container *ngIf="searchInput !== ''">
        <p>Number of cards found: {{getFilteredCards().length}}</p>
    </ng-container>
</div>
<div class="body-content">
    <ng-container *ngIf="searchInput === ''; else select">
          <div class="card-blog" *ngFor="let card of cards">  
<div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <a href="/profileCards/{{card.idcard}}">
        <img class="rounded-t-lg" src="http://localhost:3333/static/images/uploads/{{card.featuredimage}}" alt="" />
    </a>
    <div class="p-5">
        <a href="/profileCards/{{card.idcard}}">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{card.title}}</h5>
        </a>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{card.subtitle}}</p>
        <a href="/profileCards/{{card.idcard}}" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Read more
             <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
            </svg>
        </a>
    </div>
</div>
        </div>
    </ng-container>  
        <ng-template #select>
                <div class="card-blog" *ngFor="let cards of getFilteredCards()">
                    <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                        <a href="/profileCards/{{cards.idcard}}">
                            <img class="rounded-t-lg" src="http://localhost:3333/static/images/uploads/{{cards.featuredimage}}" alt="" />
                        </a>
                        <div class="p-5">
                            <a href="/profileCards/{{cards.idcard}}">
                                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{cards.title}}</h5>
                            </a>
                            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{cards.subtitle}}</p>
                            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{cards.creationdate}}</p>
                            <a href="/profileCards/{{cards.idcard}}" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                                Read more
                                 <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
        </ng-template>
</div>


