a {
    color: rgb(250, 235, 235); 
    text-decoration: none; 
    font-size: larger;
}

.card-logo-img{
    display: flex;
    width: 10%;
    object-fit: cover;
}

.card-header{
    background-color: rgb(241, 56, 56);
    align-items: center;
}

.card-header-content{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.card-header-list{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: flex-end;
}